__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/
build/
dist/
*.egg-info/
.eggs/
.git/
tests/
coverage.xml
.coverage*
docker-compose.override.yml
README.md
docs/
tools/
